

.nav-container {
  background-color: transparent;
  width: 100vw;
  height: fit-content;
  justify-content: space-between;
  padding-left: 2rem;
  padding-top: 2rem;

  @media (max-width: 768px) {
   padding: 0 1rem;
    margin-top: 1rem;;

  }

  .heading-left {
    flex-basis: 35%;

    img {
      margin-top: 2.4rem;
      @media (max-width: 768px) {
       margin: 0;
    
      }

    }
  }

  .nav-links {
    flex-basis: 65%;
    justify-content: end;
    padding-right: clamp(2rem, -10.8428rem + 26.7559vw, 12rem);
    background-color: hsl(var(--clr-white) / 0.04);
    backdrop-filter: blur(20.774227142333984px);
    gap: 1rem;
    @media (max-width: 768px) {
      display: none;
    }

    a {
      padding: 0;
    }

    li {
      height: 100%;
      padding: clamp(1rem, -0.2843rem + 2.6756vw, 2rem);
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: clamp(1rem, 0.0368rem + 2.0067vw, 1.75rem);

 
    }
  }
}



/**************************/
/* home 'content' section */
/**************************/


.home-heading-txt {

  margin-top: 3rem;
}