

.nav-container {
  background-color: transparent;
  width: 100vw;
  height: fit-content;
  justify-content: space-between;
  padding-left: 2rem;
  padding-top: 2rem;

  @media (max-width: 768px) {
  
    margin-top: 1rem;;

  }

  .heading-left {
    position: relative;
    flex-basis: 35%;

    img {
      position: absolute;
      top: calc(50% - 24px);
      @media (max-width: 768px) {
       margin: 0;
    
      }

    }
  }

  .nav-links {
    flex-basis: 65%;
    justify-content: end;
    padding-right: clamp(2rem, -10.8428rem + 26.7559vw, 12rem);
    background-color: hsl(var(--clr-white) / 0.04);
    backdrop-filter: blur(20.774227142333984px);
    gap: 1rem;
    @media (max-width: 679px) {
      display: none;
    }

    a {
      padding: 0;
    }

    li {
      height: 100%;
      padding: clamp(1rem, -0.2843rem + 2.6756vw, 2rem);
      padding-left: 0.8rem;
      padding-right: 0.8rem;
      font-size: clamp(1rem, 0.0368rem + 2.0067vw, 1.75rem);

      span {
        
        @media (max-width: 900px) {
          display: none;
        }
      }
 
    }
  }
}



/**************************/
/* home 'content' section */
/**************************/

.home-content-container {


  .home-heading-content {
    max-width: 500px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: center;

    @media (min-width: 996px) {
      flex-direction: row;
    }

    &>div {
      margin: 0 1rem;
    }

    @media (max-width: 780px) {
      margin-top: 8rem;
    }
  
    h1 {
      font-size: clamp(1.1rem, 0.8003rem + 1.2295vw, 1.85rem);
    }

    button {
      // transform: scale(.9);
      margin-top: 1.5rem;
      padding: 2em;

      @media (max-width: 600px) {
        margin-top: 7rem;
      }
    }
  }
}
